@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
}

body {
  background-color: #f6f7fb;
  font-family: 'Silkscreen', cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}